@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
